<h1>
    Registration
</h1>
<form method="post">
    <label for="name">Full Name: </label>
    <input type="text" id="name" name="name" required/>
    <br/>

    <label for="email">Address e-mail: </label>
    <input type="email" id="email" name="email" required/>
    <br/>

    <label for="country">Country: </label>
    <input list="countries" id="country" name="country" required/>
    <datalist id="countries">
        <option value="PL">Poland</option>
        <option value="PL">PL</option>
        <option value="PL">Polska</option>
    </datalist>
    <br/>

    <input type="submit">
    <br/>

</form>